---
import Dialog from "@/components/Dialog.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Dialog">
  <section>
    <h1>Dialog</h1>

    <Dialog>
      <h2 slot="header">Dialog 1</h2>

      <Fragment slot="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, modi.</p>
      </Fragment>

      <button slot="trigger" type="button">Open Dialog 1</button>
    </Dialog>

    <Dialog>
      <h2 slot="header">Dialog 2</h2>

      <Fragment slot="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, modi.</p>
      </Fragment>
      
      <button slot="trigger" type="button">Open Dialog 2</button>
    </Dialog>
  </section>

  <section class="prose">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora incidunt labore libero laboriosam quia quasi dolorem distinctio ipsa officiis eum quo, quod facilis obcaecati impedit totam culpa eligendi dolores aut?</p>
  </section>
</Layout>

<style>
  h1 {
    margin-bottom: 1rem;
  }

  section {
    margin-top: 4rem;
  }

  .prose {
    max-inline-size: 60ch;
    /* margin-inline: auto; */
    p {
      margin-bottom: 1rem;
    }
  }
</style>
