---
import PasswordQuality from "@/components/PasswordQuality.astro";
import ShowPassword from "@/components/ShowPassword.astro";
import Button from "../components/Button.astro";
import Input from "../components/Input.astro";
import Label from "../components/Label.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<h1>Forms</h1>
	<form method="post">
		<Label>
			<span>Name</span>
			<Input type="text" name="name" inputmode="text" autocomplete="name" aria-required="true" />
			<p data-hint-text>Your full name, including any middle names</p>
		</Label>

		<Label>
			<span>Email</span>
			<Input type="email" name="email" inputmode="email" autocomplete="email" aria-required="true" />
		</Label>

		<Label>
			<span>Password</span>
			<ShowPassword>
				<Input type="password" name="password" inputmode="text" autocomplete="new-password" aria-required="true" />
			</ShowPassword>
			<PasswordQuality />
		</Label>

		<Label>
			<span>Password confirmation</span>
			<Input type="password" name="confirmPassword" inputmode="text" autocomplete="new-password" aria-required="true" />
		</Label>

		<Button type="submit">Submit</Button>
	</form>
</Layout>

<script>
	import { actions } from "astro:actions";

	const form = document.querySelector("form");
	form?.addEventListener("submit", (event) => {
		event.preventDefault();
		const formData = new FormData(form);
    actions.signup(formData);
	})
</script>

<style>
	main {
		inline-size: 70rem;
		margin-inline: auto;
		padding-block: 10rem;
	}
	h1 {
		text-align: center;
		margin-bottom: 2rem;
	}

	form > * + * {
		margin-top: 2rem;
	}

	form {
		inline-size: 30rem;
		margin-inline: auto;
	}
</style>
