---

---

<header>
  <div>
    <a href="/">Playground</a>

    <nav class="main-navigation">
      <ul>
        <li><a href="/dialog">Dialog</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    /* background-color: var(--clr-primary-light); */
  }

  header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-inline-size: 60rem;
    margin-inline: auto;
  }

  .main-navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
